<header id="header">
    <!--header-->
    <div class="header_top">
        <!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a asp-controller="Home" asp-action="Index"><img src="~/images/home/logo.png" alt=""></a>
                    </div>
                    <div class="btn-group pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                USA
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Canada</a></li>
                                <li><a href="#">UK</a></li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                DOLLAR
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Canadian Dollar</a></li>
                                <li><a href="#">Pound</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a href="@Url.Action("Index", "Employee")" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Employee" ? "active" : "")"><i class="fa fa-user"></i> Employee</a></li>
                            }
                            <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
                            <li><a href="@Url.Action("CheckOut", "Home")" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "CheckOut" ? "active" : "")"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                            <li><a href="@Url.Action("Details", "Cart")" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Cart" && ViewContext.RouteData.Values["action"].ToString() == "Details" ? "active" : "")"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    @await Component.InvokeAsync("LoginLogout")
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom">
        <!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="@Url.Action("Index", "Home")" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">Home</a></li>
                            <li class="dropdown">
                                <a href="@Url.Action("Shop", "Catalog")" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Catalog" && (ViewContext.RouteData.Values["action"].ToString() == "Shop" || ViewContext.RouteData.Values["action"].ToString() == "ProductDetails" || ViewContext.RouteData.Values["action"].ToString() == "CheckOut" || ViewContext.RouteData.Values["action"].ToString() == "Cart" || ViewContext.RouteData.Values["action"].ToString() == "Login") ? "active" : "")">Shop<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="@Url.Action("Shop", "Catalog")" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Catalog" && ViewContext.RouteData.Values["action"].ToString() == "Shop" ? "active" : "")">Products</a></li>
                                    @*<li><a href="@Url.Action("ProductDetails", "Catalog")" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Catalog" && ViewContext.RouteData.Values["action"].ToString() == "ProductDetails" ? "active" : "")">Product Details</a></li>*@
                                    @*<li><a href="@Url.Action("CheckOut", "Cart")" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Cart" && ViewContext.RouteData.Values["action"].ToString() == "CheckOut" ? "active" : "")">Checkout</a></li>*@
                                    <li><a href="@Url.Action("Details", "Cart")" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Cart" && ViewContext.RouteData.Values["action"].ToString() == "Details" ? "active" : "")">Cart</a></li>
                                    <li><a href="@Url.Action("Login", "Account")" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Account" && ViewContext.RouteData.Values["action"].ToString() == "Login" ? "active" : "")">Login</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="@Url.Action("Blog", "Home")" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Home" && (ViewContext.RouteData.Values["action"].ToString() == "Blog" || ViewContext.RouteData.Values["action"].ToString() == "BlogSingle") ? "active" : "")">Blog<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="@Url.Action("Blog", "Home")" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Blog" ? "active" : "")">Blog List</a></li>
                                    <li><a href="@Url.Action("BlogSingle", "Home")" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "BlogSingle" ? "active" : "")">Blog Single</a></li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("NotFound", "Home")" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "NotFound" ? "active" : "")">404</a></li>
                            <li><a href="@Url.Action("ContactUs", "Home")" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "ContactUs" ? "active" : "")">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <input type="text" placeholder="Search">
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header>